<html>
<head>
    <title> django girls</title>
</head>
<body>
    {% if "create" in request.path%}
        <form method="POST" action="/create/">
    {%else%}    
        <form method="POST" action="/edit/{{post.id}}/">
    {% endif%}

    <input type="text" value="{{post.title}} " name="title">
    <textarea name="text">{{post.text}}</textarea>
    {% csrf_token %}
     <button type="submit" value="save">save</button>
    </form>
</body>

