<html>
<body>
     <a href="/create/{{post.id}}">create</a>
    {% for post in posts %}
    <a href="#"><h1>{{post.id}}.{{post.title}}</h1></a>
    <h3>{{post.author}}</h3>
    <p>{{post.text}}</p>
   
        <a href="/edit/{{post.id}}">edit</a>
        <a href="/delete/{{post.id}}">delete </a>
     
    
    {% endfor %}
</body>
</html>

